/* Styling for the title */
title {
  background-color: black;
  font-family: Arial, sans-serif;
}

/* Styling for all the buttons */
button {
  display: block;
  margin: auto;
}

/* Styling for the first button */
.button1 {
  color: firebrick;
  background: grey;
  padding: 16px;
  border: 4px solid darkblue;
  border-radius: 6px;
  text-decoration: none;
  font-family: monospace;  
  margin-top: 33px;
  margin-bottom: 20px;
}

/* Styling for the first button when hovering over it */
.button1:hover {
  color: white;
  background: red;
  border: 4px solid darkred;
  transition: all 0.6s;
}

/* Styling for the second button */
.button2 {
  color: beige;
  background: orange;
  padding: 15px;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 5px solid transparent;
  border-bottom-color: rgba(0,0,0,0.35);
  transition: all .2s;
  margin-bottom: 20px;
}

/* Styling for the second button when hovering over it */
.button2:hover {
  text-shadow: 0px 0px 5px rgb(253, 250, 149);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 1);
  background: darkorange;
}

/* Styling for the third button */
.button3 {
  color: white;
  background: darkturquoise;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.4s;
  margin-bottom: 20px;
}

/* Styling for the third button when hovering over it */
.button3:hover {
  color: white;
  background: plum;
  border-radius: 50px;
  transition: all 0.4s;
  box-shadow: 0 0 1px 5px rgba(221, 159, 222, 0.39), 0 0 1px 10px rgba(138, 59, 88, 0.1);
}

/* Styling for the fourth button */
.button4 {
  border-radius: 6px;
  padding: 15px;
  text-decoration: none;
  transition: all .3s;
  font-family: sans-serif;
  border-bottom-color: rgb(0, 0, 0);
  outline: 0;
  display: block;
  color: black;
  text-shadow: 1px 1px #1f272b;
  border: 3px solid black;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,orange), color-stop(4%,orange), color-stop(100%,yellow));
  margin-bottom: 20px;
}

/* Styling for the fourth button when hovering over it */
.button4:hover {
  color: grey;
  letter-spacing: 1.3px;
  box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all .3s;
}

/* Styling for the fifth button */
.button5 {
  border-radius: 6px;
  padding: 15px;
  text-decoration: none;
  transition: all .3s;
  font-family: sans-serif;
  border-bottom-color: rgb(0, 0, 0);
  outline: 0;
  display: block;
  color: black;
  text-shadow: 1px 1px #1f272b;
  border: 2.5px solid black;
  background: linear-gradient(45deg, red, orange, yellow, green, blue, purple);
    margin-top: 20px;
  margin-bottom: 20px;
    font-size: 20px;
    color: black
}

/* Styling for the fifth button when hovering over it */
.button5:hover {
  color: #1a1a1a;
  letter-spacing: 1.3px;
  box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all .3s;
    background: linear-gradient(45deg, #ff3333, #ffb833, #ffff33, #00b300, #3333ff, #b300b3)
}

/* Styling for the sixth button */
.button6 {
  border-radius: 6px;
  padding: 15px;
  text-decoration: none;
  transition: all .3s;
  font-family: sans-serif;
  border-bottom-color: rgb(0, 0, 0);
  outline: 0;
  display: block;
  color: black;
  text-shadow: 1px 1px #1f272b;
  border: 2.5px solid black;
  background: linear-gradient(45deg, red, orange, yellow, green, blue, purple);
  margin-bottom: 19px;
    width: 400px;
    font-size: 40px;
    color: black;
    width: 1000px;
    text-transform: uppercase;
}

/* Styling for the sixth button when hovering over it */
.button6:hover {
  color: #1a1a1a;
  letter-spacing: 1.3px;
  box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all .3s;
    width: 1050px;
    background: linear-gradient(45deg, #ff3333, #ffb833, #ffff33, #00b300, #3333ff, #b300b3)
}
/* Styling for the body */
body {
    background-color: #4d4d4d;
    border: 6px solid darkred;
    border-radius: 0px;
    font-family: cursive;
    text-align: center;
}

/* Styling for h1 */
h1 {
    background-color: #4d4d4d;
    color: white;
    font-family: monospace;
    font-size: 85px;
    vertical-align: top;
    border-radius: 0px;
    
}

/* Styling for h2 */
h2 {
    background-color: #4d4d4d;
    color: white;
    font-family: monospace;
    font-size: 25px;
    border-radius: 0px;
    
}